{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather_forecast</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

    <body>
        <div class="container-main">
            <div class="container">
                <div class="buttons_div">
                    <div class="hbutton thick" style="margin-right: 4px;"><a class="link">Temperatura</a></div>
                    <div class="hbutton thick"><a class="link">Szansa Opadów</a></div>
                </div>
                <div class="big_container">
                    <div class="plot_container">
                        <p>wykresik</p>
                    </div>
                    <div class="info_background">
                        <div class="info_container">
                            <p class="thick">Pogoda dla: </p>
                            <p class="thick">Czas: </p>
                            <p class="thick">Temperatura: </p>
                            <p class="thick">Szansa opadów: </p>
                            <p class="thick">Wiatr: </p>
                        </div>
                    </div>
                </div>


                <div class="forecast_container">
                    <div class="days">
                        <div class="day thick">Dzisiaj</div>
                        <div class="day thick">Jutro</div>
                        <div class="day thick">Pojutrze</div>
                    </div>

                    <div class="imgs_container">
                        <div class="img_container">
                            <div class="img_background">
                                <img src="/static/imgs/weather_icons/cloudy.png" alt="weather">
                            </div>
                            <p>15°C</p>
                        </div>
                        <div class="img_container">
                            <div class="img_background">
                                <img src="/static/imgs/weather_icons/sun.png" alt="weather">
                            </div>
                            <p>30°C</p>
                        </div>
                        <div class="img_container">
                            <div class="img_background">
                                <img src="/static/imgs/weather_icons/rain (2).png" alt="weather">
                            </div>
                            <p>10°C</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </body>
</html>
